@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-10">
        <h2>Movie Delete</h2>
    </div>
    <div class="col-auto">
        <p>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </p>
    </div>
</div>
<hr>

<div>
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Title):
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.ReleaseDate):
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Genre):
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Price):
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Studio):
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Studio!.Name)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Artists):
        </dt>
        <dd class="col-sm-11">
            @if (Model.Artists != null)
            {
                foreach (var artist in Model.Artists)
                {
                    <div>
                        @Html.DisplayFor(modelItem => artist.Name)
                    </div>
                }
            }
        </dd>
    </dl>

    <h3>Are you sure you want to delete @Model.Title?</h3>
        <form asp-action="Delete">
            <input type="hidden" asp-for="StudioId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
</div>