@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h2>MOVIES LIST</h2>
    </div>
    <div class="col-auto">
        <p>
            <a asp-action="Create" class="btn btn-success">CREATE NEW MOVIE</a>
        </p>
    </div>
</div>

<table class="table">
    <thead>
    <tr style="text-align:center;">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artists)
        </th>
        <th class="col-3">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr style="text-align:center;">
            <td style="text-align:left;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (item.Studio != null)
                {
                    @Html.DisplayFor(modelItem => item.Studio.Name)
                }
            </td>
            <td>
                @if (item.Artists != null)
                {
                    foreach (var artist in item.Artists)
                    {
                        @Html.DisplayFor(modelItem => artist.Name)<br/>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId" class="btn btn-primary btn-sm">EDIT</a>
                <a asp-action="Details" asp-route-id="@item.MovieId" class="btn btn-primary btn-sm">DETAILS</a>
                <a asp-action="Delete" asp-route-id="@item.MovieId" class="btn btn-danger btn-sm">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>