@model IEnumerable<MvcMovie.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h2>ARTISTS LIST</h2>
    </div>
    <div class="col-auto">
        <p>
            <a asp-action="Create" class="btn btn-success">CREATE NEW ARTIST</a>
        </p>
    </div>
</div>

<table class="table">
    <thead>
    <tr style="text-align: center;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies)
        </th>
        <th class="col-3">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @if (item.Movies != null)
                {
                    foreach (var movie in item.Movies)
                    {
                        @Html.DisplayFor(modelItem => movie.Title)<br/>
                    }
                }
            </td>
            <td style="text-align: center;">
                <a asp-action="Edit" asp-route-id="@item.ArtistId" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ArtistId" class="btn btn-primary btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ArtistId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>