@model IEnumerable<MvcMovie.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h2>USERS LIST</h2>
    </div>
    <div class="col-auto">
        <p>
            <a asp-action="Create" class="btn btn-success">CREATE NEW USER</a>
        </p>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th class="col-4">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th class="col-3" style="text-align: center;">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="text-align: center;">
                <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-warning btn-sm">EDIT</a>
                <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-primary btn-sm">DETAILS</a>
                <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger btn-sm">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>