@model MvcMovie.Models.Studio

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-10">
        <h2>Studio Delete</h2>
    </div>
    <div class="col-auto">
        <p>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </p>
    </div>
</div>
<hr>

<div>
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Country):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Site):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Site)
        </dd>
    </dl>
    
    <h3>Are you sure you want to delete @Model.Name?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudioId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
