@model MvcMovie.Models.Studio

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-10">
        <h2>Studio Details</h2>
    </div>
    <div class="col-auto">
        <p>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </p>
    </div>
</div>
<hr>

<div>
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Country):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Site):
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Site)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudioId" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model?.StudioId" class="btn btn-danger">Delete</a>
</div>
