@model IEnumerable<MvcMovie.Models.Studio>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h2>STUDIOS LIST</h2>
    </div>
    <div class="col-auto">
        <p>
            <a asp-action="Create" class="btn btn-success">CREATE NEW STUDIO</a>
        </p>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th class="col-3" style="text-align: center;">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td style="text-align: center;">
                <a asp-action="Edit" asp-route-id="@item.StudioId" class="btn btn-warning">EDIT</a>
                <a asp-action="Details" asp-route-id="@item.StudioId" class="btn btn-primary">DETAILS</a>
                <a asp-action="Delete" asp-route-id="@item.StudioId" class="btn btn-danger">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>